.social-icon {
    height: 20px;
    width: 20px;
    margin: 10px;
}

.logo {
    height: 40px;
    width: 40px;
}

.footer {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    margin-top: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

.footer-content-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-content-left p:nth-child(1) {
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
    font-size: 28pt;
    margin-bottom: 20px;
}

.footer-social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
    cursor: pointer;
    padding: 3px;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    height: 2px;
    margin: 20px 0px;
}

ul {
    margin-top: 20px;
}